{% extends "base.html" %}
{% block content %}
<nav class="navbar navbar-custom border-bottom
  border-body navbar-expand-sm">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><b>Blockchain</b></a>
    <div class="collapse navbar-collapse justify-content-end">
      <div class="btn-group" role="group">
      
      <button type="button" class="btn btn-secondary">
        <a class="nav-link active" href="{{ url_for('signin') }}">
        Sign in
        </a>
      </button>
      <button type="button" class="btn btn-primary active">
        <a class="nav-link active" href="{{ url_for('signup') }}">
        Sign up
        </a>
      </button>
      </div>
    </div>
  </div>
</nav>
<div class="container-fluid d-block p-2">
  <p>
    Blockchain is a ledger for storing and transferring digital assets.
    Assets can be anything: money, stocks, game characters,
    works of art - anything.
  </p>
  <p>
    Benefits of blockchain technology:
    <ol class="list-group list-group-numbered">
      <li class="list-group-item">Transparency</li>
      <li class="list-group-item">Reducing operating costs</li>
      <li class="list-group-item">Decentralization</li>
    </ol>
  </p>
  <a class="link-dark" href="https://github.com/IvanIsak2000/blockchain">
    About
  </a>
</div>
{% endblock %}