{% extends "base.html" %}
{% block content %}
{% include "form_nav_bar.html" %}
<div class="container-fluid">
  <h1>Create new account</h1>
  <div class="row col-md-5">
    <div class="input-group mb-3">
      <span class="input-group-text">@</span>
      <input type="text" class="form-control" placeholder="username"
        aria-label="username" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
      <input type="email" class="form-control" placeholder="email"
        aria-label="email">
    </div>
    <div class="input-group mb-3">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</div>
{% endblock %}