/*
.page-container {
    width: cover;
    height: 2000px;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    background-color: #4e1667;
}

.page-text {
    top: 90px;
    left: 54px;
    color: #d48ff6;
    position: absolute;
    font-size: 150px;
}
  
.button {
    padding: 3px 15px;
    margin: 15px;
    cursor: pointer;
    border: 0px;
    background-color: #339900;
    font-size: 18px;
    color: #000000;
    box-shadow: 0 0 5px #FF00FF;
    -moz-box-shadow: 0 0 5px #FF00FF;
    -ms-box-shadow: 0 0 5px #FF00FF;
    -o-box-shadow: 0 0 5px #FF00FF;
    -webkit-box-shadow: 0 0 5px #FF00FF;
}
  
.button:hover {
    box-shadow: 0 0 12px #c9c2e9;
    -moz-box-shadow: 0 0 12px #c9c2e9;
    -o-box-shadow: 0 0 12px #c9c2e9;
    -ms-box-shadow: 0 0 12px #c9c2e9;
    -webkit-box-shadow: 0 0 12px #c9c2e9;
}
  
.page-button {
    top: 487px;
    left: 303px;
    color: rgb(71, 23, 94);
    width: 211px;
    height: 85px;
    display: flex;
    position: absolute;
    font-size: 50px;
    border-radius: 110px;
    padding-right: 12px;
    background-color: rgb(213, 144, 247);
}

.page-button1 {
    top: 640px;
    left: 301px;
    color: rgb(71, 23, 94);
    width: 211px;
    height: 85px;
    display: flex;
    position: absolute;
    font-size: 50px;
    border-radius: 110px;
    padding-right: 12px;
    background-color: rgb(213, 144, 247);
}

.page-image {
    top: -40px;
    right: -12px;
    width: 937px;
    height: 1036px;
    position: absolute;
    object-fit: cover;
    border-radius: 110px 0px 0px 110px
}

.page-button2 {
    top: 328px;
    left: 303px;
    color: rgb(71, 23, 94);
    width: 211px;
    height: 85px;
    display: flex;
    position: absolute;
    font-size: 50px;
    border-radius: 110px;
    padding-right: 12px;
    background-color: rgb(213, 144, 247);
}
  
.page1-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #4e1667;
}
  
.page1-text {
    top: 1150px;
    left: 181px;
    color: rgb(212, 143, 246);
    position: absolute;
    font-size: 50px;
    margin-top: auto;
    text-align: center;
    margin-left: auto;
    margin-right: var(--dl-space-space-halfunit);
    margin-bottom: auto;
}
  
.page1-text06 {
    top: 1500px;
    left: 536px;
    color: rgb(212, 143, 246);
    margin: auto;
    position: absolute;
    font-size: 50px;
    margin-top: auto;
    text-align: left;
    margin-left: auto;
    margin-right: var(--dl-space-space-halfunit);
    margin-bottom: auto;
}
  
body {
    font-weight: cover;
    font-style:normal;
    text-decoration: none;
    text-transform: none;
    letter-spacing: normal;
    line-height: 1.15;
    color: var(--dl-color-gray-black);
    background-color: #4e1667
}

body {
  background-color: #4e1667;
}

.page21-text {
  top: 77px;
  left: 668px;
  color: rgb(212, 143, 246);
  position: absolute;
  font-size: 120px;
}
.page21-textinput {
  top: 368px;
  left: 677px;
  width: 431px;
  height: 42px;
  position: absolute;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
}

.page21-textinput1 {
  top: 467px;
  left: 675px;
  width: 431px;
  height: 42px;
  position: absolute;
}

.page21-button {
  top: 632px;
  left: 748px;
  width: 271px;
  height: 92px;
  position: absolute;
  font-size: 30px;
}

body{
  background-color: #4e1667
}

.page2-text {
  top: 84px;
  left: 370px;
  color: #d48ff6;
  position: absolute;
  font-size: 120px;
}

.page2-textinput {
  top: 376px;
  left: 670px;
  width: 431px;
  height: 42px;
  position: absolute;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
}

.page2-textinput1 {
  top: 473px;
  left: 670px;
  width: 431px;
  height: 42px;
  position: absolute;
}

.page2-button {
  top: 633px;
  left: 740px;
  width: 271px;
  height: 92px;
  position: absolute;
  font-size: 30px;
}
*/
body {
  background-color: powderblue;
  color: midnightblue;
}


.navbar-custom {
  background-color: #023047;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: darkturquoise;
}

.btn {
  color: black !important;
}

.btn-primary, .btn-primary:hover,
.btn-primary:active, .btn-primary:visited {
  background-color: tomato !important;
}

.btn-secondary, .btn-secondary:hover,
.btn-secondary:active, .btn-secondary:visited {
  background-color: gold !important;
}

.list-group {
  display: inline-block;
}
